* {
	outline:none !important;
	-moz-outline: none !important;
}
body,button,input,select,textarea,form,label{font-size: 12px;}
/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
	clear: both;
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}
.fl {
    display: inline;
    float: left;
}
.fr {
    display: inline;
    float: right;
}
.block {
    display: block;
}
.inline-block{display: inline-block !important;}
.none {
    display: none;
}
.hidden {
    visibility: hidden;
}
.overflow-hide{overflow: hidden;}
.center {
    text-align: center !important;
}
a:hover {
	text-decoration: none;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}
form{margin: 0;}
.no-padding{padding: 0 !important;}
.color-red{color: red;}
.color-green{color: green;}

/* Header */
#header {
    width: 100%;
}
#header .top-bar{height: 20px;overflow: hidden;background-color: #3790CE;}
#header .top-bar .user-bar{
	text-align: right;color: #ffffff;padding-right: 10px;font-size: 12px;line-height: 20px;
}
#header .top-bar .user-bar a,#header .top-bar .user-bar span{color: #ffffff;margin: 0 3px;}
#header .h-box{background-color: #3790CE;position: relative;height: 36px;}
#header .h-box #frame_tips {
	position: absolute;color: #ffffff;font-size: 12px;left: 50%;top: -20px;margin-left: -140px;
	padding: 3px 10px;text-align: center;border-radius: 3;line-height: 18px;
	border: 1px solid #fafafa;min-width: 280px;z-index: 999999;display: none;
}
#header .h-box .logo {
	position: absolute;left: 8px;top: -5px;width: 500px;
}
#header .h-box .logo img{position: relative;top: -3px;}
#header .h-box .logo .logo-text{
	font: 22px/1 "Microsoft Yahei","微软雅黑","黑体","SimHei",Arial,sans-serif;color: #ffffff;margin-left: 5px;
}
#header .h-box .ui-menu{
	height: 31px;text-align: right;position: absolute;right: 5px;bottom: 0;
}
#header .h-box .ui-menu ul{display: inline;margin: 0;padding: 0;}
#header .h-box .ui-menu ul li{
	background: url("../img/tab.gif") no-repeat left top;float: left;font-size: 14px;position: relative;
	height: 28px;line-height: 26px;margin-right: 3px;width: 86px;text-align: center;padding-top: 6px;
}
#header .h-box .ui-menu ul li span.label{position: absolute;right: -1px;top: -5px;}
#header .h-box .ui-menu ul li.selected{height: 31px;background-position: left -33px;}
#header .h-box .ui-menu ul li a{
	color: #ffffff;display: block;
}
#header .h-box .ui-menu ul li.selected a{color: #000000;}
/* Content */
#content {
    background: none repeat scroll 0 0 #ffffff;
    margin-left: 0px;
    margin-right: 0;
    position: relative;
    min-height: 350px;
    width: auto;
}
/*--首页样式--*/
#paper_index{width: 98%;margin: 0 auto;padding: 5px 0;}
#paper_index .wrap_box .con_wrap{border-radius: 3px;padding: 5px;height: 250px;}
#paper_index .wrap_box .con_wrap .cnt{height: 250px;overflow: auto;clear: both;}

.menubar{
	/*
	background-color: #e5e5e5;
	*/
	background-color: #fff;
	border-bottom: 1px solid #d6d6d6;
	padding: 0 5px;	
	height: 30px;
	line-height: 30px;
	position: relative;
	overflow: hidden;
}
/*--场所列表高级查询--*/
.form_query{position: relative;}
.form_query .btn-group-box{position: absolute;left: 3px;top: 0;}
.form_query .btn-group-box .btn-hy{width: 56px;padding-left: 1px;padding-right: 1px;}
.form_query .query_wrap{float: right;margin-top: 4px;text-align: right;}
.form_query .query_wrap .ipt-words{width: 56%;font-size: 12px;}	
/*--图标 icon-shi icon-qu icon-pcs icon-cs--*/
.icon_tree_new{background: url("../img/new.gif") no-repeat left center !important;}
.icon-shi{background-position: -216px 0;/*.icon-th-large*/}
.icon-qu{background-position: -240px 0;/*.icon-th*/}
.icon-pcs{background-position: -264px 0;/*.icon-th-list*/}
.icon-cs{background-position: -24px -72px;/*.icon-map-marker*/}

.icon-camera{background: url("../img/play/Camera_1.png") no-repeat left center;}
.icon-record{background: url("../img/play/record.png") no-repeat left center;}
.icon-camera.on{background: url("../img/play/Camera_2.png") no-repeat left center;}
.icon-record.on{background: url("../img/play/recording.png") no-repeat left center;}
/*--场所列表--*/
.list-cs-wrap{height:100%;width:100%;clear: both;position: relative;}
.condition-wrap{height: 20px;padding: 5px;border-bottom: 1px solid #dddddd;}
.condition-wrap .fl{display: none;}
.condition-wrap .set-wrap{display: inline;float: left;position: relative;}
.condition-wrap span{float: left;}
.condition-wrap a.jgmc,.condition-wrap a.selected-info{
	float: left;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
}
.condition-wrap a.jgmc{width: 55px;}
.condition-wrap .ipt-box{height: 20px;border: 1px solid #999999;position: relative;top: -1px;}
.condition-wrap a.selected-info{width: 132px;padding: 2px;font-size: 12px;line-height: 18px;}
.condition-wrap a.remove{float: right;color: #aaaaaa;padding: 0px 3px;}
.condition-wrap .title-line-head{display: block;padding-left: 16px;background: url("../img/icon_head.jpg") no-repeat left center;}
.condition-wrap .title-info{color: #0088CC;}
.condition-wrap .title-info span{color: #333333;float: none;margin: 0 5px;}
.list-cs-wrap .actions-wrap{
	width: 100%;height: 30px;border-top: 1px solid #dddddd;position: absolute;left: 0;bottom: 0;overflow: hidden;
}
.list-cs-wrap .list-cs{width: 100%;overflow: auto;}

#name_filter_cs{
	display: inline;width: 216px;padding: 2px 18px 2px 3px;height: 16px;line-height: 16px;margin: 0;font-size: 12px;
	background: url("../img/search.gif") no-repeat right center;
}
/* Footer */
#footer {
	color: #666666;text-align: center;
	/*
	line-height: 26px;margin: 5px 0 0 0;padding-top: 5px;height: 30px;
	*/
}

.mainmenu{height: 10px;padding: 5px;}
#menu_switch{cursor: pointer;}
	
/*--探头登记内容详情架构
.frame-side{
	width: 22%;margin-right: -22%;float: left;border-right: 1px solid #d6d6d6;
	position: relative;z-index: 1;min-height: 200px;overflow: hidden;position: relative;
}
.frame-side-inner{width: 100%;overflow: hidden;}
.frame-main{margin-left: 22%;margin-right: 0px;}
.frame-main-inner{width: 100%;margin-right: -100%;float: left;min-height: 200px;_height: 200px;background-color: #fff;}
--*/
.frame-main{width: 100%;height: 100%;}
.frm-aside{
	border-right: 1px solid #D2D2D2;float: left;height: 100%;width:200px;position: relative;z-index: 1;
}
.frm-aside .frm-aside-inner{padding: 0;}
.frm-list{
	height: 100%;border-right: 1px solid #D3D8DB;float: left;
	position: relative;width: 250px;z-index: 0;
}
.frm-detail{height: 100%;background: #e4e4e4;overflow: hidden;}
.frm-detail .frm-detail-inner{padding: 0px;min-width: 560px;}

#btn_view_treeJG{
	position: absolute;left: 0;bottom: 0;display: block;width: 16px;height: 28px;background-color: #E3EDF9;
	border: 1px solid #BDD5EE;z-index: 999999;
}
#btn_view_treeJG span{margin: 3px 0 0 1px;}
/*--通用--*/
.same-height{margin-bottom:-10000px;padding-bottom:10000px;}
.empty{text-align: center;line-height: 30px;color: #b30303;border: 1px dotted #e5e5e5;}
form .required:after{content: '*';color: red;}
form .text{width: 85%;}
.space{margin: 0 3px;}
.lc_city{width: 75px;overflow: hidden;}
.lc_area{width: 90px;overflow: hidden;}
.lc_station{width: 110px;overflow: hidden;}
.menubar select{font-size: 12px;margin-top: 4px;}
.formTable{width: 100%;}
.formTable tr{min-height: 36px;}
.formTable .lab{width: 110px;text-align: right;}
.formTable input[type="text"],.formTable textarea{width: 80%;}
.icon-add-key{background: url("../img/add_keys_bt.gif") no-repeat left top;display: inline-block;width: 30px;height: 20px;}
/*--修改bootstrap样式--*/
.btn{font-size: 12px;line-height: 16px;}
.form-actions{margin: 5px 0 0;padding: 6px 0;background: none;clear: both;}
.form-horizontal .control-group{margin: 0;padding: 3px 0;}
.form-horizontal .control-group .control-label{width: 80px;text-align: left;}
.form-horizontal .controls{margin-left: 85px;padding-left: 0;_margin-left: 0;*margin-left: 0;}
.form-horizontal.m .control-group .control-label{width: 60px;text-align: left;}
.form-horizontal.m .controls{margin-left: 65px;}
form .controls .checkbox,form .controls .radio{display: inline-block;margin-right: 5px;}
form select{width: 86%;height: 28px;font-size: 14px;}
form input[type="text"],form select{line-height: 16px;padding: 2px 3px;}
form .btn-switch{display: block;width: 106px;height: 37px;background: url("../img/btn_switchs.png") no-repeat;}
form .btn-switch.on{background-position: left top;}
form .btn-switch.off{background-position: left -38px;}
.container-fluid{padding: 0;}
.input-prepend .add-on,.input-append .add-on{line-height: 20px;padding: 2px 3px;height: 20px;}
.radio input[type="radio"], .checkbox input[type="checkbox"]{margin-left: -16px;}

.form-horizontal.detail .control-group .control-label{padding-top: 0;}
.form-horizontal.detail .control-group .controls{word-wrap: break-word;}
.nav-list .on a, .nav-list .on a:hover, .nav-list .on a:focus{
	background-color: #E4E4E4;
}
.nav-list li a{padding: 5px 10px;}
/*--场所联系人--*/
.cs-contacts-wrap{border-left: 1px solid #dbd8d3;padding-left: 15px;min-height: 160px;}
.cs-contacts-wrap .item-contacts-box{
	border: 1px solid #dbd8d3;padding: 10px;margin-bottom: 10px;position: relative;
}
.cs-contacts-wrap .item-contacts-box .tb-cs-contacts td{padding: 2px 0;}
.cs-contacts-wrap .item-contacts-box .tb-cs-contacts td.photo{vertical-align: top;width: 60px;}
.cs-contacts-wrap .item-contacts-box .tb-cs-contacts td.lab{width: 65px;}
.cs-contacts-wrap .item-contacts-box a.remove{
	display: block;width: 16px;height: 16px;position: absolute;right: 0px;top: 0px;
	background: url("../img/close.png") no-repeat center center;visibility: hidden;
}
.cs-contacts-wrap .item-contacts-box:hover a.remove{visibility: visible;}
.cs-contacts-wrap .items-contacts-actions{padding: 5px 0;}
/*--设备表单--*/
.sb-actions-bar{border: 1px solid #999999;border-width: 1px 0;padding: 3px 0;margin: 10px 0;}
.sb-td-wrap table{width: 100%;}
.sb-td-wrap td select{height: 26px;}
.sb-td-wrap td.t1{width: 22px;}
.sb-td-wrap td.t2{width: 120px;}
.sb-td-wrap td.t2 a{color: #797979;}
.sb-td-wrap td.bind{width: 65px;text-align: center;font-size: 85%;color: #797979;}
.sb-td-wrap td.sfytt{width: 70px;text-align: center;}
.sb-td-wrap td.sfytt label{font-size: 85%;color: #797979;margin: 0;padding: 0;}
.sb-td-wrap td.sfytt label input{margin: 0 auto;padding: 0;display: block;}
.sb-td-wrap td.t3{}
.sb-td-wrap td.t4{width: 120px;}
input.azwz{width: 96%;}

.btn .ok{color: green;}
.btn .error{color: red;}
/*-- 表单验证 --*/
label.error {color: red;}
input.error,textarea.error,div.error,td.error,select.error { border: 1px dotted red;}
.ErrorContainer,.ErrorContainer0{background-color:#FFFCCC;border: 1px solid silver;padding: 2px;display: none;text-align:left;clear: both;}
.ErrorContainer ol{}
.ErrorContainer ol li{color: red;list-style-type: disc;margin-left: 20px;height:15px;line-height:15px;}
.ErrorContainer0 ol{}
.ErrorContainer0 ol li{color: red;list-style-type: disc;margin-left: 20px;height:15px;line-height:15px;}

.error_li_con{width:90%;float:left}
.error_li_close{width:7%;float:left;text-align:right;color:#555;cursor:pointer;}

/*--弹出层--*/
.window {
    background: #fff; border: 1px solid rgb(180, 180, 180); left: -10000px; top: -10000px;
    visibility: visible; position: absolute; z-index: 99999; box-shadow: 0px 4px 20px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}
.frame-tips{}
.frame-tips .textwithicon {
    margin: 10px 50px;display: inline-block; position: relative; -zoom: 1; -display: inline;height: auto !important; min-height: 36px;
}
.frame-tips .icon32_ok, .frame-tips .icon32_err, .icon32_info{
	width: 36px; height: 36px;vertical-align: top;display: inline-block;left: 0px; top: 0px; position: absolute;
}
.frame-tips .icon32_ok{background-position: 0px 0px;}
.frame-tips .icon32_err{background-position: -38px 0px;}
.frame-tips .icon32_info{background-position: -76px 0px;}
.frame-tips .text {
    text-align: left; font-size: 14px; display: block; line-height: 22px; padding-top: 7px; margin-left: 42px;
}
/*-- 弹出层 --*/
.pop-win{
	position: absolute;width: auto;height: auto;border: 1px solid #999999;
    z-index: 9999;background-color: #ffffff;display: block;text-align: left;
}
.pop-win .pop-side{position: relative;z-index: 9999;background-color: #fff;}
.pop-win .iframe{position: absolute;left: 0px;top:0px;z-index: 9998;width: 100%;height: 100%;background-color: #ffffff;}
.pop-win .pop-head{height: 30px; background: #f0f0f0;border-bottom:#dddddd 1px solid;padding: 0px 10px;position: relative;}
.pop-win .pop-head .pop-title{color:#333333;font-size:14px;font-weight:bold;line-height:30px;}
.pop-win .pop-head a.pop-close{
	color: #000000;font-weight: bold;font-size: 20px;line-height: 18px;opacity: 0.2;
	position: absolute;width: 12px;height: 12px;right: 8px;top: 6px;display: block;background: none;
}
.pop-win .pop-head a:hover.pop-close{opacity: 0.4;}
.pop-win .pop-body{padding: 5px;overflow: auto;}
.pop-win .pop-foot{width: 100%;overflow: hidden;}
.pop-win .pop-foot .pop-foot-area{
	border-top: 1px solid #ddd;padding: 5px 10px 10px;text-align: right;
	box-shadow: inset 0px 1px 0px #ffffff;background-color: rgb(245, 245, 245);
}
.pop-win .pop-foot .pop-foot-area .btn{margin-left: 5px;}

/*--弹出层--*/
#windows .body-wrap{padding: 25px 50px;font-size: 14px;line-height: 25px;position: relative;}
/**-- 数据加载中样式 --**/
.smaill-loading{
	width: 80px;height: 16px;line-height: 16px;background: url("../img/loading-smaill.gif") left top no-repeat;
	padding-left: 20px;margin-left: 5px;color: red;
}
.paper-loading{
	width: 120px;height: 32px;line-height: 32px;background: url("../img/loading.gif") left center no-repeat;
	padding-left: 42px;margin: 20px auto;clear: both;
}
/*--遮罩层--*/
.mask {
background: #000; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; overflow: hidden;
visibility: visible; z-index: 1001; filter:alpha(opacity=30);opacity:0.3;
}
.mask-f{width: 100%;height: 100%;background-color: #FFFFFF;position: absolute;left: 0;top: 0;opacity: 0;z-index: 2;}

.btn_area{
	text-align: right;padding: 5px 10px 5px 5px;clear: both;
}

/*类型选择 弹出窗口*/
.pop_type{position: absolute;width: 92%;background-color: #fff;border: 2px solid #dddddd;left:4%;overflow: hidden;z-index: 9999;}
.pop_type .title{
	height: 30px; background: #f0f0f0;border-bottom:#dddddd 1px solid;padding: 0px 8px;position: relative;
	white-space: nowrap;line-height:22px;overflow: hidden;font-weight:bold;
}
.pop_type .title .lab{float: left;font-weight: bold;text-align: left;line-height: 30px;}
.pop_type .title .val{font-weight: normal;}
.pop_type .title .cancel{float: right;color: red;cursor: pointer;margin-top: 8px;width:16px;height: 16px;background: url('../img/panel_tools.gif') no-repeat -16px top;}
.pop_type .con{padding: 3px;overflow: auto;}
.pop_type .con ul{margin: 0px 0px 0px 15px;clear: both;}
.pop_type .con ul li{clear: both;line-height: 18px;border: 1px solid #fff;padding: 0px 3px;margin: 2px;display: block;float: none;}
.pop_type .con ul li.line{border-top: 1px solid red;padding-top: 5px;}
.pop_type .con ul li.leaf{float: left;min-width: 60px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;clear: none;}
.pop_type .con ul li div.parWarp{clear: both;}
.pop_type .con ul li div.parWarp .icon_open{width: 13px;height: 15px;background: url("../img/icon_open.gif") center bottom no-repeat;float: left;}
.pop_type .con ul li div.parWarp .icon_fold{width: 13px;height: 15px;background: url("../img/icon_fold.gif") center bottom no-repeat;float: left;}
.pop_type .con ul li div.parWarp .lab{float: left;padding: 0px 3px;border: 1px solid #fff;line-height: 18px;font-weight: bold;}
.pop_type .con ul li .checkbox{margin: 0;min-height: 16px;}
.pop_type .con .hover{border:1px #f4e4b4 solid !important;color:#333333;background-color: #fffae9;}
.pop_type .con .selected{background-color: #DDF3FD; color:#2244bb;font-weight:bold;}
.pop_type .foot{
	height: 40px;width: 100%;overflow: hidden;
	text-align:right;clear: both;background-color: #fff;border-top-width: 1px;border-top-style: solid;border-top-color: #aaa;
	position: absolute;bottom: 0px;
}
.pop_type .foot .msg{float:left;padding-left:10px;color:red;line-height:36px;}
.pop_type .foot .btn{margin: 5px 10px 0 5px;}

/*--通用--*/
.icon_tips{background: url("../img/icons-wb.png") no-repeat;width: 18px;height: 18px;vertical-align: top;display: inline-block;}

/*--场所 模块--*/
.paper-cs{padding: 5px 15px;}
.wrap_box{margin: 0 0 10px 0;}
.wrap_box .title_wrap{height: 30px;}
.wrap_box .title_wrap .title{font-size: 14px;line-height: 30px;color: #6b6b6b;display: inline;float: left;}
.wrap_box .title_wrap .title .state{font-weight: normal; margin: -5px 0 0 5px;}
.wrap_box .title_wrap .actions{display: inline;float: right;text-align: right;}
.wrap_box .title_wrap .actions a{display: inline-block;width: 16px;height: 17px;margin-top: 4px;background: no-repeat center top;}
.wrap_box .title_wrap .actions a.on,.wrap_box .title_wrap .actions a:hover{border-bottom: 2px solid #bab9b9;}
.wrap_box .title_wrap .actions a.icon-chart{background-image: url("../img/chart.png");}
.wrap_box .title_wrap .actions a.icon-table{background-image: url("../img/table.png");}
.wrap_box .title_wrap .actions a.icon-export{background-image: url("../img/export.png");}
.wrap_box .con_wrap{padding: 10px;min-height: 100px;border-radius: 5px;border: 1px solid #999999;background-color: #ffffff;position: relative;}
.wrap_box .con_wrap .action_tool_bar{position: absolute;text-align: right;right: 0;top: 0;visibility: hidden;}
.wrap_box .con_wrap:hover .action_tool_bar{visibility: visible;}
.wrap_box .con_wrap .action_tool_bar .act{display: inline-block;width: 16px;height: 16px;background: no-repeat center center;}
.wrap_box .con_wrap .action_tool_bar .act-edit{background-image: url("../img/edit.gif");}
.wrap_box .con_wrap .action_tool_bar .act-remove{background-image: url("../img/close.png");}

.item-sb-box{border-bottom: 1px solid #999999;margin-bottom: 20px;padding-bottom: 10px;position: relative;}
/*--安装点模块--*/
.azd-status-bar{height: 36px;line-height: 30px;border-bottom: 1px solid #c9c9c9;}
.azd-status-bar .status-info{
	margin-left: 5px;background-color: #ffebcc;border: 1px solid #ffdba3;padding: 2px 4px;white-space: nowrap;
}
.azd-btns-bar{clear: both;}
.azd-items{padding: 10px 0;margin: 0;}
.azd-items li{
	background: url("../img/u8_original.png") no-repeat 5px center;padding: 2px 2px 2px 30px;
	display: inline;float: left;height: 36px;line-height: 36px;border: 1px solid #e4e4e4;width: 206px;
	margin: 0 10px 5px 0;
}
.azd-items li .text,.azd-items li .td{display: block;float: left;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
.azd-items li .text{font-size: 14px;width: 80px;}
.azd-items li span.td{font-size: 12px;width: 100px;margin-left: 5px;text-align: center;padding-right: 2px;}
.azd-items li span.td a{display: block;color: #797979;line-height: 18px;margin: 0;padding: 0;}
.azd-items li span.td a i{margin-top: -1px;}
.azd-items li .text input{width: 72px;margin-top: 2px;}
.azd-items li .remove{
	float: right;width: 16px;height: 100%;display: block;
	background: url("../img/close.png") no-repeat center center;
}
.azd-items li.bind{background-color: #b8ff4d;}

/**-- 自定义分页控件 --**/
.paginationToolbar{background-color: #F4F4F4;clear: both;width: 100%;line-height: 25px;height: 25px;}
.paginationToolbar .leftControls {}
.paginationToolbar .paginationControls .buttonLabel{margin:0 0 0 12px;}
.paginationToolbar div{display:inline;float:left;}
.paginationToolbar .paginationControls {float:right;}
.paginationToolbar img{border: 0;}
.paginationToolbar span{margin: 0px 0px 0px 5px;}
#pageSizeSelect{width: 65px;}

/*--场所列表--*/
.mod-note-list{
	border-collapse: collapse;border-spacing: 0;overflow: hidden;
	table-layout: fixed;width: 100%;margin: 0;
}
.mod-note-list li.csitem{
	border-bottom: 1px dotted #E0E0E0;overflow: hidden;padding: 5px 5px 0;
}
.mod-note-list .note-title{color: #333333;width: 100%;position: relative;}
.mod-note-list .note-title .exp-tbox{
	display: block;width: 16px;height: 16px;position: absolute;right: 42px;top: 0px;cursor: pointer;display: none;
}
.mod-note-list .note-title .exp-tbox.card{background: url("../img/icons/16/card_address.png") center top no-repeat;}
.mod-note-list .note-title .exp-tbox.fz-play{background: url("../img/icons/16/fz-play.png") center top no-repeat;display: block;}
.mod-note-list .note-title .exp-tbox.fz-play.on{background: url("../img/icons/16/fz-play-on.png") center top no-repeat;}
.mod-note-list .note-title .exp-tbox.fz-play.loading{background: url("../img/loading-smaill.gif") center top no-repeat;}
.mod-note-list .note-title .icon_exp,
.mod-note-list .note-title .note-title-con,
.mod-note-list .note-title .label{
	display: inline-block;vertical-align: top;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;float: left;
}
.mod-note-list .note-title .icon_exp{width: 16px;height: 16px;cursor: pointer;}
.mod-note-list .note-title .icon_exp.collapse,
.mod-note-list .note-title .icon_exp.expand{background: url("../img/icon-exp.png") no-repeat;}
.mod-note-list .note-title .icon_exp.collapse{background-position: left -16px;}
.mod-note-list .note-title .icon_exp.expand{background-position: left 1px;}
.mod-note-list .note-title .note-title-con{width: 160px;cursor: pointer;}
.mod-note-list .note-title .label{
	width: 30px;float: right;background-color: #f3f2f0;border: 1px solid #c1bcb6;color: #333333;font-weight: normal;
	text-shadow: none;text-align: center;padding: 1px 2px;
}
.mod-note-list .note-preview{
	display: block;clear: both;margin: 2px 0 5px 16px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
	color: #AAAAAA;line-height: 16px;font-size: 12px;
}
.mod-note-list .note-preview .hy-info{display: inline-block;float: left;}
.mod-note-list .note-preview .sp{display: inline-block;margin: 0 2px;float: left;}
.mod-note-list .note-preview .device-info{
	background: url("../img/icon-device.png") left center no-repeat;display: inline-block;padding-left: 18px;float: left;
}
.mod-note-list .note-preview .alert-info{
	background: url("../img/warn.gif") left center no-repeat;display: inline-block;
	padding-left: 17px;border: none;float: right;min-height: 16px;
}

/*--通道列表--*/
ul.td-list{padding: 0px;background-color: #ffffff;display: none;margin-left: 15px;clear: both;}
ul.td-list li{line-height: 20px;cursor: pointer;}
ul.td-list li.on,ul.td-list li:hover{color: red;}
.mod-note-list li.selected{
	background-color: #efefef;
}
ul.td-list li{line-height: 20px;margin: 5px 0;clear: both;height: 20px;}
ul.td-list li .icon{display: inline-block;float: left;margin-right: 2px;width: 18px;height: 18px;}
ul.td-list li .name,
ul.td-list li .state{
	display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
ul.td-list li .name{float: left;width: 110px;}
ul.td-list li .state{float: right;width: auto;}
ul.td-list li .state .label{font-size: 11px;font-weight: normal;}
ul.td-list li .state .i-warn{width: 16px;height: 16px;background: url("../img/warn.gif") center center no-repeat;display: block;}

.mod-note-list .note-title .icon_exp.loading,
ul.td-list li .icon-camera.loading,
ul.td-list li .icon-record.loading{
	background: url("../img/loading-smaill.gif") no-repeat left center;
}

/*--分页--*/
.pagectrl{clear: both;font-size: 12px;text-align: right;padding: 5px 2px;}
.pagectrl a, .pagectrl span{
	border: 1px solid #F0EDEB;color: #555555;display: inline-block;height: 20px;margin-left: 1px;padding: 0 2px;vertical-align: middle;
}
.pagectrl .current{background-color: #E3CED7;color: #2B2B2B;font-weight: bold;}
.pagectrl a{text-decoration: none;}
.pagectrl a:hover{background-color: #f0edeb;}
.pagectrl .elps{border: 0 none;color: #B0778C;padding: 0;}
.pagectrl .jumpwrap{border: 0 none;height: auto;padding-right: 0;}
.pagectrl .jumpwrap span{border: 0 none;color: #2B2B2B;display: inline-block;margin: 0;padding: 0;vertical-align: middle;}
.pagectrl .jumpwrap .pagenum{
	border: 1px solid #CCC8C4;color: #2B2B2B;height: 18px;line-height: 18px;margin: 0 1px;text-align: center;
	width: 24px;padding: 0px;font-size: 12px;
}
.pagectrl .jumpwrap button, .pagectrl .jumpwrap input{vertical-align: top;}
.pagectrl .jumpwrap button{font-size: 12px;font-weight: normal;height: 22px;margin-left: 0px;padding: 0 1px;}

#list_cs .pagectrl{position: absolute;left:0;right: 0;bottom: -2px;z-index: 999;}

/*--播放器控件--*/
.play_title_wrap{height: 20px;padding: 5px;position: relative;}
.play_title_wrap .title_txt{
	padding: 0;margin: 0;background: url("../img/icon_head.jpg") no-repeat left center;padding-left: 16px;
}
.play_title_wrap .title_txt span{color: #0088CC;}
.play_title_wrap a.lnk_about{position: absolute;right: 4px;top: 4px;}

.play_plugin_wrap{width: 100%;background-color: #343434;}
.play_plugin_wrap .activeX_box{height: 320px;margin: 0 auto;}
.play_plugin_wrap .activeX_box .activeX_box_tips{padding-top: 50px;}
.play_plugin_wrap .activeX_box .activeX_box_tips p{color: white;font-size: 14px;display: block;text-align: center;}
.play_plugin_wrap .btn_area{
	clear: both;height: 36px;background: url("../img/play/toolbar.png") repeat-x left top;padding: 0;position: relative;
	margin: 0;line-height: 0px;
}
/*--播放控件按钮图标--*/
a.bgicon{
	width: 32px;height: 31px;background-repeat: no-repeat;display: inline-block;margin: 3px 3px 0 3px;
	overflow: hidden;font-size: 11px;color: #696969;line-height: 32px;text-decoration: none;
}
a.bgicon span{padding: 0 5px;}
a.bgicon.bgicon-ArrangeWnd{background-image: url("../img/play/ArrangeWnd.png");width: 40px;}
a.bgicon.bgicon-ArrangeWnd:hover{background-image: url("../img/play/SelArrangeWnd.png");}
a.bgicon.bgicon-RealPlayAll{background: url("../img/play/RealPlayAll.png") no-repeat;}
a.bgicon.bgicon-RealPlayAll:hover{background: url("../img/play/SelRealPlayAll.png") no-repeat;}
a.bgicon.bgicon-StopAll{background: url("../img/play/StopAll.png") no-repeat;}
a.bgicon.bgicon-StopAll:hover{background: url("../img/play/SelStopAll.png") no-repeat;}
a.bgicon.bgicon-Capture{background: url("../img/play/Capture.png") no-repeat;}
a.bgicon.bgicon-Capture:hover{background: url("../img/play/SelCapture.png") no-repeat;}
a.bgicon.bgicon-RecordAll{background: url("../img/play/RecordAll.png") no-repeat;}
a.bgicon.bgicon-RecordAll:hover{background: url("../img/play/SelRecordAll.png") no-repeat;}
a.bgicon.bgicon-StopRecordAll{background: url("../img/play/StopRecordAll.png") no-repeat;}
a.bgicon.bgicon-StopRecordAll:hover{background: url("../img/play/SelStopRecordAll.png") no-repeat;}
a.bgicon.bgicon-Setting{background: url("../img/play/Setting.png") no-repeat;}
a.bgicon.bgicon-Setting:hover{background: url("../img/play/SelSetting.png") no-repeat;}
a.bgicon.bgicon-Query{background: url("../img/play/Query.png") no-repeat;}
a.bgicon.bgicon-Query:hover{background: url("../img/play/SelQuery.png") no-repeat;}
a.bgicon.bgicon-Play{background: url("../img/play/Playback_play.png") no-repeat;}
a.bgicon.bgicon-Play:hover{background: url("../img/play/Playback_SelPlay.png") no-repeat;}
a.bgicon.bgicon-Pause{background: url("../img/play/Playback_Pause.png") no-repeat;}
a.bgicon.bgicon-Pause:hover{background: url("../img/play/Playback_SelPause.png") no-repeat;}
a.bgicon.bgicon-Stop{background: url("../img/play/Playback_Stop.png") no-repeat;}
a.bgicon.bgicon-Stop:hover{background: url("../img/play/Playback_SelStop.png") no-repeat;}
a.bgicon.bgicon-StopAllPB{background: url("../img/play/PlayAll_normal.png") no-repeat;}
a.bgicon.bgicon-StopAllPB:hover{background: url("../img/play/PlayAll_select.png") no-repeat;}
a.bgicon.bgicon-PlaybackFast{background: url("../img/play/Playback_FastForward.png") no-repeat;width: 36px;text-align: right;}
a.bgicon.bgicon-PlaybackFast.off{background: url("../img/play/Playback_DisFastForward.png") no-repeat;}
a.bgicon.bgicon-PlaybackFast.on:hover{background: url("../img/play/Playback_SelFastForward.png") no-repeat;}
a.bgicon.bgicon-PlaybackSlowly{background: url("../img/play/Playback_SlowlyForward.png") no-repeat;width: 36px;text-align: left;}
a.bgicon.bgicon-PlaybackSlowly.off{background: url("../img/play/Playback_DisSlowlyForward.png") no-repeat;}
a.bgicon.bgicon-PlaybackSlowly.on:hover{background: url("../img/play/Playback_SelSlowlyForward.png") no-repeat;}
a.bgicon.bgicon-Sound{background: url("../img/play/Sound.png") no-repeat;width: 40px;}
a.bgicon.bgicon-Sound:hover{background: url("../img/play/SelSound.png") no-repeat;}
a.bgicon.bgicon-fScreen{background: url("../img/play/FullScreen.png") no-repeat;}
a.bgicon.bgicon-fScreen:hover{background: url("../img/play/SelFullScreen.png") no-repeat;}

.pop-menu-box{position: absolute;left: 5px;top: -30px;margin: 0;padding: 0;width: 72px;height: 31px;display: none;z-index: 99999;}
.pop-menu-box iframe{position: absolute;left: 0;top: 0;z-index: 999;background-color: #ffffff;}
#pop_menu_box_sound{left: auto;right: 40px;width: 48px;}
ul.sub-menus{width: 100%;height: 100%;margin: 0;padding: 0;position: relative;z-index: 9999;}
ul.sub-menus li{display: inline;float: left;margin: 0;padding: 0;}
ul.sub-menus li a{display: block;width: 24px;height: 31px;}
ul.sub-menus li a.bgicon-Wnd1{background: url("../img/play/Wnd1.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd4{background: url("../img/play/Wnd4.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd9{background: url("../img/play/Wnd9.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd1:hover{background: url("../img/play/SelWnd1.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd4:hover{background: url("../img/play/SelWnd4.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd9:hover{background: url("../img/play/SelWnd9.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd1-on{background: url("../img/play/PushWnd1.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd4-on{background: url("../img/play/PushWnd4.png") no-repeat;}
ul.sub-menus li a.bgicon-Wnd9-on{background: url("../img/play/PushWnd9.png") no-repeat;}
ul.sub-menus li a.bgicon-sound-on{background: url("../img/play/sound_on.png") no-repeat;}
ul.sub-menus li a.bgicon-sound-on:hover{background: url("../img/play/sel_sound_on.png") no-repeat;}
ul.sub-menus li a.bgicon-sound-off{background: url("../img/play/sound_off.png") no-repeat;}
ul.sub-menus li a.bgicon-sound-off:hover{background: url("../img/play/sel_sound_off.png") no-repeat;}
/*--地图预览--*/
.pop-maptips-wrap{height: 360px;}
.pop-maptips-wrap .tdlist-wrap{
	height: 100%;border-right: 1px solid #D3D8DB;float: left;width: 250px;overflow: auto;
}
.pop-maptips-wrap .map-cnt-wrap{height: 100%;overflow: hidden;}
/*--播放器控件--*/
a.pluginLink{color: white;font-size: 14px;display: block;text-align: center;line-height: 56px;}
a.pluginLink:hover{color: white;text-decoration:underline;}
/*--时间轴控件--*/
.timebar-wrap{height: 80px;overflow: hidden;position: relative;border: 1px solid blue;}
.timebar-wrap .timebar{
	height: 60px;background-color: #000000;color: #ffffff;width: 10000px;position: absolute;left: 0;top: 0;
}
.timebar-wrap .timebar .tick-box{width: 100%;height: 32px;position: absolute;left: 0;bottom: 0;}
.timebar-wrap .timebar .tick-box .day-group{width: 864px;height: 22px;}
/*--视频回放--*/
.btn-pbquery{
	width: 178px;height: 30px;background: url("../img/play/Playback_searchButton.png") no-repeat;
	text-align: center;border: none;line-height: 30px;
}
.btn-pbgoto{
	width: 47px;height: 23px;background: url("../img/play/Playback_25.png") no-repeat;border: none;display: inline-block;
}
.pop-pbquery .localizer{
	background-color: #CACACA;position: absolute;width: 170px;left: 5px;bottom: 5px;padding: 3px 5px;
}
.pop-pbquery .localizer .timeinput{width: 23px;height: 20px;padding: 0 3px;margin: 0;}
.pop-pbquery .localizer .sp{font-weight: bold;}

/*--30天回放--*/
.table-days{width: 100%;table-layout: fixed;text-align: center;}
.table-days td{border: 1px solid #ffffff;vertical-align: top;}
.table-days td .dt{margin: 0;padding: 2px 0;}
.table-days td .dcn{height: 36px;background-color: #fff;line-height: 36px;font-size: 12px;color: #555555;}
.table-days td .dcn.c0{background-color: #3cf64c;}
.table-days td .dcn.c1{background-color: #f9b366;}
.table-days td .dcn.c2{background-color: #f86653;}
.table-days td .dcn span{font-size: 22px;margin-right: 3px;}
.sign-box{font-size: 14px;}
.sign-box dl dt{margin: 0;}
.sign-box dl dt,.sign-box dl dd{display: inline-block;line-height: 16px;}
.sign-box .sign{float: left;width: 16px;height: 16px;}
.sign-box span{float: left;margin-left: 3px;}
/*--响应式--*/
@media (max-width: 1100px) {
}		